.App {
  text-align: center;
  background-color: steelblue;
}

h1 {
  font-size: 48px;
  color: white;
}

.nav-link {
  padding-left: 20px;
  padding-right: 20px;
}

nav {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  border: 2px;
  border-style: solid;
}

.card:first-child {
  max-width: 81%;
  margin: 10px;
}

.card {
  max-width: 40%;
  margin: 10px;
}

.portfolio-container {
  flex-wrap: wrap;
  justify-content: center;
}
