.App {
  text-align: center;
  background-color: royalblue;
}

h1 {
  font-size: 48px;
}

.nav-link {
  padding-left: 5px;
  padding-right: 5px;
}

nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card:first-child {
  max-width: 85%;
  margin: 10px;
}

.card {
  max-width: 40%;
  margin: 10px;
}

.portfolio-container {
  flex-wrap: wrap;
  justify-content: center;
}
